{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Face and Gait Recognition</h1>
        <p class="lead">The system integrates facial recognition and human gait recognition. It can realize the addition of new gait and facial data, the extraction of human facial features, the training of human facial features and the recognition of people, etc.</p>',
    </div>
{% include 'includes/_tabs.html' %}
<!-- <form action="http://localhost:5000/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="files[]" id="files" multiple="" directory="" webkitdirectory="" mozdirectory="">
        <input class="button" type="submit" value="Upload" />
    </form> -->
{% endblock %}